.App {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Castello-photo {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
}