.App {
    height: 100vh;
    width: 100%;
    background-color: #141414;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Castello-photo {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 150px;
    height: 150px;

    border-radius: 15%;
}

.khn {
    position: absolute;
    height: 300px;
    top: 600px;
    right: 30px;
}